@import 'src/styles/variables';
// MANAGE RENTAL MODAL
.rental-booking-modal {
    border-radius: 5px;
    color: $main-text-grey-color;
    width: 800px;
    .modal-footer {
        padding: 20px 20px 0 20px;
    }
    .bookings-inner-container {
        padding: 0;
        margin: 1rem 0;
        p {
            font-size: 14px;
            margin-bottom: 0px;
        }
    }
    @include mediaMd {
        width: 800px;
    }
}