@import 'src/styles/variables';
// MANAGE RENTAL CARD
.rental-card-manage-container {
    margin: 10px 0 0 0;
    padding: 15px;
    min-height: 125px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    color: $main-text-grey-color;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    @include mediaSm {
        flex-wrap: wrap;
    }
    .avatar-container {
        flex: 7%;
        margin: 0;
        padding: 0;
        @include mediaSm {
            flex: 0 1 30%;
        }
        img {
            object-fit: contain;
            object-position: center center;
            width: 80px;
            height: 70px;
            display: block;
            margin: auto 0;
        }
    }
    .description-container {
        padding: 0 10px;
        width: 80%;
        flex: 60%;
        @include mediaSm {
            // flex: 0 1 60%;
        }
        .rental-card-manage-title {
            display: block;
            margin: 0;
            font-size: 16px;
            font-weight: 600;
        }
        .rental-card-manage-description {
            margin: 0 0 10px 0;
            font-size: 14px;
            font-weight: 200;
            max-height: 25px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .rental-card-manage-date {
            margin: 0;
            font-size: 12px;
            font-weight: 200;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    .rental-units {
        flex: 6%;
        @include mediaSm {
            flex: 0 1 30%;
        }
        span {
            @include mediaSm {
                margin: 10px 0 0 0 !important;
            }
        }
    }
    .buttons-container-one {
        flex: 9%;
        margin-left: 10px;
        @include mediaSm {
            flex: 0 1 auto;
        }
    }
    .buttons-container-two {
        flex: 15%;
        @include mediaSm {
            // flex: 0 1 auto;
        }
        .delete-menu {
            padding: 0;
            p {
                display: inline-block;
                font-size: 12px;
                font-weight: 200;
            }
        }
    }
}

.rental-card-link {
    color: $main-text-grey-color !important;
    cursor: pointer;
    &:hover {
        text-decoration: none !important;
        color: $main-color !important;
    }
}

.btn-pa-rental {
    background-color: transparent;
    color: $main-color;
    font-size: 14px !important;
    border: solid 1px $main-color;
    padding: 5px 10px !important;
    margin: 0;
    @include mediaSm {
        margin: 10px 0 0 0 !important;
    }
    cursor: pointer;
    &:hover,
    &:focus,
    &:active {
        cursor: pointer;
        &:not([disabled]) {
            color: white;
            border: solid 1px $main-color;
            background-color: $main-color;
        }
    }
    &:disabled {
        cursor: not-allowed;
    }
}

.delete-btn-manage,
.edit-btn-manage {
    font-size: 14px !important;
    padding: 5px 10px !important;
    border: none !important;
    cursor: pointer !important;
    &:hover {
        background-color: $main-color !important;
    }
    @include mediaSm {
        margin: 10px 0 0 10px !important;
    }
}

.select-menu {
    display: flex;
    flex-direction: column;
    .delete-btn-manage {
        width: 100%;
    }
    .edit-btn-manage {
        width: 100%;
        font-size: 14px !important;
        margin: 0;
        padding: 5px 8px 5px 12px !important;
    }
}

.delete-menu {
    font-size: 1em;
    margin: 0 10px;
    padding: 5px 10px;
    p {
        margin: 0;
        text-align: center;
    }
    .btn {
        font-size: 1em;
        margin-left: 10px;
        padding: 3px 10px;
        min-width: 50px;
    }
    .btn-manage {
        width: 100%;
        font-size: 14px !important;
        margin-left: 15px;
        padding: 0px 10px !important;
    }
}