$main-color: #61dafb;
$main-text-grey-color: #4a4a4a;
$light-grey-color: #a9a9a9;
$lighter-grey-color: #7e7e7e;
$main-black-color: #20232a;
$main-white-color: #ededed;
$main-red-color: orangered;
// Set Transition
@mixin easeOut {
    transition: all 0.5s ease-out;
}

@mixin ease {
    transition: all 0.3s ease;
}

// Set Text Color
@function set-text-color($color) {
    @if (lightness($color) > 40) {
        @return #000;
    }
    @else {
        @return #fff;
    }
}

// Media Query Mixins
@mixin mediaSm {
    @media screen and (max-width: 500px) {
        @content;
    }
}

@mixin mediaMd {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin mediaLg {
    @media screen and (min-width: 769px) and (max-width: 1170px) {
        @content;
    }
}

@mixin mediaXl {
    @media screen and (min-width: 1171px) {
        @content;
    }
}