@import 'src/styles/variables';
#rentalListing {
    .page-title.main-color {
        color: $main-text-grey-color;
        font-size: 2.5rem;
        font-weight: 700;
        margin-bottom: 30px;
        @include mediaSm {
            font-size: 1.2rem;
        }
        @include mediaMd {
            font-size: 1.5rem;
        }
    }
    .title {
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 30px;
    }
    .rental-detail-link {
        &:hover {
            text-decoration: none;
        }
    }
    h1 {
        color: $main-text-grey-color;
        font-weight: 700;
        margin-bottom: 30px;
        @include mediaSm {
            font-size: 1.5rem;
            text-align: center;
        }
    }
}